thirdparty/MHR/assets/
thirdparty/MHR/assets.zip
thirdparty/MHR/__MACOSX/
thirdparty/momentum/build/
thirdparty/momentum/dist/
thirdparty/momentum/.pixi/
thirdparty/momentum/pixi.lock
thirdparty/momentum/build.log
thirdparty/momentum/pyproject.toml.bak
thirdparty/momentum/pixi_bin
thirdparty/momentum/pyproject.toml
outputs/
lib/sam_3d_body/checkpoints/
lib/sam_3d_body/checkpoints/
.conda_envs/
*png
*obj
*ply

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
